### GitLab URL
###! Docs: https://docs.gitlab.com/omnibus/settings/configuration.html#configuring-the-external-url-for-gitlab
external_url '{{ external_url }}'

### Additional variables with corporate proxy settings
###! Docs: https://docs.gitlab.com/omnibus/settings/environment-variables.html
gitlab_rails['env'] = {
    "http_proxy" => "http://{{ proxy.username_tst }}:{{ proxy.password_tst }}@{{ proxy.hostname }}",
    "https_proxy" => "http://{{ proxy.username_tst }}:{{ proxy.password_tst }}@{{ proxy.hostname }}",
    "no_proxy" => "127.0.0.1, localhost, {{ proxy.hostname }}, *.{{ proxy.hostname }}, unix"
}
gitaly['env'] = {
    "http_proxy" => "http://{{ proxy.username_tst }}:{{ proxy.password_tst }}@{{ proxy.hostname }}",
    "https_proxy" => "http://{{ proxy.username_tst }}:{{ proxy.password_tst }}@{{ proxy.hostname }}",
    "no_proxy" => "127.0.0.1, localhost, {{ proxy.hostname }}, *.{{ proxy.hostname }}, unix"
}
gitlab_workhorse['env'] = {
    "http_proxy" => "http://{{ proxy.username_tst }}:{{ proxy.password_tst }}@{{ proxy.hostname }}",
    "https_proxy" => "http://{{ proxy.username_tst }}:{{ proxy.password_tst }}@{{ proxy.hostname }}",
    "no_proxy" => "127.0.0.1, localhost, {{ proxy.hostname }}, *.{{ proxy.hostname }}, unix"
}
gitlab_pages['env'] = {
    "http_proxy" => "http://{{ proxy.username_tst }}:{{ proxy.password_tst }}@{{ proxy.hostname }}",
    "https_proxy" => "http://{{ proxy.username_tst }}:{{ proxy.password_tst }}@{{ proxy.hostname }}",
    "no_proxy" => "127.0.0.1, localhost, {{ proxy.hostname }}, *.{{ proxy.hostname }}, unix"
}

### GitLab email server settings
###! Docs: https://docs.gitlab.com/omnibus/settings/smtp.html

gitlab_rails['smtp_enable'] = true
gitlab_rails['smtp_address'] = "{{ smtp.server }}"
gitlab_rails['smtp_port'] = {{ smtp.port }}
gitlab_rails['smtp_enable_starttls_auto'] = true
gitlab_rails['smtp_openssl_verify_mode'] = 'none'
gitlab_rails['smtp_ca_file'] = "{{ smtp.ca_file }}"
gitlab_rails['gitlab_email_enabled'] = true
gitlab_rails['gitlab_email_from'] = '{{ smtp.email_from }}'
gitlab_rails['gitlab_email_display_name'] = '{{ smtp.email_display_name }}'

### LDAP Settings
###! Docs: https://docs.gitlab.com/omnibus/settings/ldap.html

gitlab_rails['ldap_enabled'] = true
gitlab_rails['ldap_servers'] = YAML.load <<-'EOS'
  main: # 'main' is the GitLab 'provider ID' of this LDAP server
    label: 'LDAP'
    host: '{{ ldap.host }}'
    port: {{ ldap.port }}
    uid: '{{ ldap.uid }}'
    bind_dn: '{{ ldap.bind_dn_tst }}'
    password: '{{ ldap.password_tst }}'
    encryption: '{{ ldap.encryption }}'
    verify_certificates: true
    ca_file: '{{ ldap.ca_file }}'
    active_directory: true
    ssl_version: 'TLSv1_2'
    base: '{{ ldap.base }}'
    admin_group: '{{ ldap.admin_group }}'
    group_base: '{{ ldap.group_base }}'
EOS

### For setting up different data storing directory
###! Docs: https://docs.gitlab.com/omnibus/settings/configuration.html#store-git-data-in-an-alternative-directory
git_data_dirs({
  "default" => {
    "path" => "{{ git_data_dir }}"
   }
})
